alembic==1.13.2
greenlet==3.0.3
Mako==1.3.5
MarkupSafe==2.1.5
pyaes==1.6.1
Pyrogram==2.0.106
PySocks==1.7.1
setuptools==72.1.0
SQLAlchemy==2.0.32
TgCrypto==1.2.5
typing_extensions==4.12.2
wheel==0.44.0